* {


  margin: 0;
}
body {
  background-image: url(https://image.freepik.com/free-photo/stack-books-black-background_23-2147846050.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      position: fixed;
      width: 100%;
      top: 0;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  text-align: center;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  color: white;
  font-family:Helvetica;
  font-size: 50px;
}

.search-section {
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

#blank {
  padding:10px; 
  border:4px solid #ccc; 
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 20px 65px 20px 65px;
  font-size: 23px;
}

#search{
  border-radius: 4px;
   background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   padding: 10px;
   width: 100px;
   transition: all 0.4s;
   cursor: pointer;
   margin: 10px;
   font-size: 15px;
   padding: 20px;
 }

.book1 {
  margin-top: 50px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  color: white;
  text-align: center;
  height: 30px;
  padding: 10px;
}


.book1 {
  font-size: 20px;
  font-style: oblique;
  display: flex;
  /* margin-bottom: 50px; */
  color: #2376ae;
  width: 90%;
  margin: 10px 0 80px 40px;
  font-family: 'Russo One', sans-serif;

}

.book1 div {
  margin-left: 15px;
}

#textInfo {
  font-family: 'Merienda', cursive;
  color:white;

}

#buy-button button {
  color: red;
  font-size: 30px;
  border-radius: 10px;
  padding: 0px 10px;
}


